@import url(colors.css);

.auth-form-container {
  max-width: 400px;
  width: 100%;
  background: var(--black);
  padding: 2rem;
  border: 1px solid var(--yellow);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-top: 5px;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--brightcyan);
}

.error-message {
  background: rgba(252, 73, 52, 0.1);
  color: var(--brightred);
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--brightred);
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.success-message {
  background: rgba(140, 191, 125, 0.1);
  color: var(--brightcyan);
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--brightcyan);
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bolder;
  color: var(--brightcyan);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input {
  padding: 0.75rem;
  color: var(--brightwhite);
  background: var(--otherblack);
  border: 1px solid var(--otherblack);
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group input::placeholder {
  color: var(--brightblack);
}

.form-group input:focus {
  outline: none;
  border-color: var(--brightcyan);
}

.auth-button {
  padding: 0.75rem;
  background: linear-gradient(135deg, var(--brightblue) 0%, var(--blue) 100%);
  color: var(--brightwhite);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(137, 167, 155, 0.3);
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.auth-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(137, 167, 155, 0.4);
}

.auth-button:disabled {
  background: #ccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.auth-links {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-links p {
  color: var(--brightwhite);
  font-style: italic;
  margin: 0;
}

.auth-link {
  color: var(--brightblue);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.auth-link:hover {
  color: var(--brightcyan);
  text-decoration: underline;
}